<div class="container">
  <h2>Search User By Name</h2>
  <div class="column">
    <label>Type a name...</label>
    <input type="text" (input)="searchByName(search.value)" #search>
  </div>
  <div class="result-table">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name. </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone. </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

