<div class="container">
  <div class="header">
    <div class="logo">
      <img id="logo" src="../assets/logo_nextly.svg" alt="Nextly Logo">
      <h1>Nextly Code Challenge</h1>
    </div>
    <div class="credits">
      <p>Mayara Pimentel - <a href="mailto:mayara.pimentels@gmail.com">mayara.pimentels@gmail.com</a></p>
    </div>

  </div>
  <div class="challenges">
    <div class="column">
      <div class="challenge-item reef-bg">
        <app-palindrome></app-palindrome>
      </div>
      <div class="challenge-item pray-bg">
        <app-paint-bucket></app-paint-bucket>
      </div>
    </div>
    <div class="column">
      <div class="challenge-item purple-bg">
        <app-search-user-by-name></app-search-user-by-name>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
