<div class="container">
  <h2>Palindrome Word Checker</h2>
  <div class="column">
    <label>Type a word or sentence...</label>
    <input type="text" (input)="isPalindrome(sentence.value)" value="{{inputDefault}}" #sentence>
  </div>
  <div class="result">
    <ng-container *ngIf="sentence.value">
      <div class="icon">
        <mat-icon *ngIf="!isCurrentStringAPalindrome">thumb_down</mat-icon>
        <mat-icon *ngIf="isCurrentStringAPalindrome">thumb_up</mat-icon>
      </div>
      <p>
        <strong class="word">{{ sentence.value }}</strong>
         {{ isCurrentStringAPalindrome ? 'is a palindrome word/sentence!' : "is not a palindrome word/sentence!" }}
      </p>
    </ng-container>
  </div>
</div>

