<div class="container">
  <h2>Palindrome Checker</h2>
  <div class="column">
    <label>Type a word or sentence...</label>
    <input type="text" (input)="isPalindrome(sentence.value)" value="{{inputDefault}}" #sentence>
  </div>
  <div class="result">
    <ng-container *ngIf="sentence.value">
      <div class="icon">
        <mat-icon *ngIf="isCurrentStringAPalindrome">check_circle_outline</mat-icon>
        <mat-icon id="thumb-down" *ngIf="!isCurrentStringAPalindrome">highlight_off</mat-icon>
      </div>
      <div class="is-palindrome">
        <p>
          <strong>{{ sentence.value }}</strong>
           {{ isCurrentStringAPalindrome ? 'is a palindrome word/sentence!' : "is not a palindrome word/sentence!" }}
        </p>
      </div>
    </ng-container>
  </div>
</div>

