<div class="container paint-bucket">
  <div class="container-header">
    <h2>Paint Bucket</h2>
  </div>
  <div class="container-content">
    <div class="item form">
      <div class="column">
        <label>Provide the pixel you want to "paint"</label>
        <span>e g. 0,1</span>
        <input type="text" value="0,1" maxlength="3" #pixel>
      </div>
      <div class="column">
        <label>Provide the "color":</label>
        <span>A single character represents the color. e g. #</span>
        <input type="text" value="o" maxlength="1" #character>
      </div>
      <button class="btn-paint" (click)="paint(pixel.value, character.value)">Paint!</button>
      <button class="btn-reset" (click)="this.resetArray()">Reset Array</button>
    </div>
    <div class="item">
      <div class="table-2d-array" [innerHtml]="html"></div>
    </div>
  </div>
</div>

